/ {
    zephyr,user {
       io-channels = <&adc1 0>; // Canal 0 = Pino A0
       io-channel-names = "A0";
       gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>; // Pino do Transistor
    };
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

/* vim: set filetype=dts : */
